<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="customer-logback.xml"/>
<!--    &lt;!&ndash;     console 配置&ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%green(%date) %blue([%X{traceId}]) %highlight(%level) %boldMagenta([%thread]) %cyan([%C{10}]) : %msg%n-->
<!--            </pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- 需要特别屏蔽的日志,例如kafka频繁的debug信息 -->
    <logger name="org.apache.kafka" level="INFO"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="${logging.level.root}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
